-# encoding: utf-8
%article
  %h1 Profile
  %dl
    %dt Author
    %dd= config.author
    %dt GitHub
    %dd
      %a{href: "https://github.com/#{config.author}"}= "https://github.com/#{config.author}"
    %dt Bio
    %dd
      I am a programmer.
      %br
      I'm looking for my lifework.
    %dt Favorite software
    %dd
      %a{href: "http://www.ruby-lang.org/"} Ruby
      %br
      %a{href: "http://rabbit-shocker.org/"} Rabbit
      %br
      %a{href: "https://github.com/hibariya/retter"} Retter
    %dt Create software
    %dd
      %a{href: "http://shogiboard.heroku.com/"} Shogi board on web
      %br
      %a{href: "http://hitokotopedia.heroku.com/"} Hitokotopedia
      %br
      %a{href: "https://github.com/myokoym/daberu"} Daberu
      %br
      %a{href: "https://github.com/myokoym/memository"} Memository
      %br
      %a{href: "https://github.com/myokoym/mecab-mora"} mecab-mora
      %br
      %a{href: "http://myokoym.net/mora/"} 拍数え - モーラ（拍）計算機
    %dt Slide
    %dd
      %a{href:'http://slide.rabbit-shocker.org/'} Rabbit Slide Show
    %dt Banner
    %dd
      %a{href:'http://projecteuler.net/'}
        %img{src:'http://projecteuler.net/profile/myokoym.png'}
