%article
  %h1 Profile
  %dl
    %dt Author
    %dd= config.author
    %dt GitHub
    %dd
      %a{href: "https://github.com/#{config.author}"}= "https://github.com/#{config.author}"
    %dt Bio
    %dd I'm looking for my lifework.
    %dt My favorite software
    %dd
      %a{href: "http://www.ruby-lang.org/"} Ruby
      %br
      %a{href: "http://rabbit-shocker.org/"} Rabbit
      %br
      %a{href: "https://github.com/hibariya/retter"} Retter
